##	CLIENT	##

[submodule "client/client"]
        path = client/client
        url = git@github.com:enabeteleazar/neronClient.git

[submodule "client/dashboard"]
        path = client/dashboard
        url = git@github.com:enabeteleazar/neronDashboard.git

[submodule "client/neronVoice"]
        path = client/neronVoice
	url = git@github.com:enabeteleazar/neronVoiceInterface.git

[submodule "server/core"]
	path = server/core
	url = git@github.com:enabeteleazar/neronCore.git

[submodule "server/goal"]
	path = server/goal
	url = git@github.com:enabeteleazar/neronGoal.git

[submodule "server/llm"]
	path = server/llm
	url = git@github.com:enabeteleazar/neronLLM.git

[submodule "server/memory"]
	path = server/memory
	url = git@github.com:enabeteleazar/neronMemory.git

[submodule "server/voice"]
	path = server/voice
	url = git@github.com:enabeteleazar/neronVoice.git

[submodule "server/watchdog"]
	path = server/watchdog
	url = git@github.com:enabeteleazar/neronWatchdog.git

[submodule "server/doctor"]
	path = server/doctor
	url = git@github.com:enabeteleazar/neronDoctor.git
[submodule "server/print"]
	path = server/print
	url = git@github.com:enabeteleazar/neronPrint.git
	branch = develop
